# Package

In [2]:
import pandas as pd

In [7]:
import numpy as np
from sklearn.neighbors import NearestNeighbors

In [115]:

from numpy import array
from numpy.linalg import norm

# Data

In [5]:
#result = pyreadr.read_r('../output/mat_fac.RData') 
p = pd.read_csv('../output/p.csv')
rmse = pd.read_csv('../data/rmse.csv')
q = pd.read_csv('../output/q.csv')

In [6]:
q#movie

,Unnamed: 0,1,2,3,4,5,6,7,8,9,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
0,1,0.565178,0.717229,0.778567,0.625927,0.842650,-0.002214,0.623139,0.468605,0.365189,...,0.225377,0.058500,-0.336207,-0.634299,-0.611499,-0.944203,-0.860104,-0.845497,-0.395947,0.430513
1,2,-0.638644,-0.751574,-0.901851,-0.026124,-0.749025,-0.669877,-0.226928,-0.340599,-1.100166,...,-0.369489,-0.021417,0.220290,0.478876,-1.077273,0.382798,-0.213710,-0.816581,0.230590,-0.584523
2,3,0.389100,0.260425,0.352202,-0.366427,0.536000,-0.156391,0.806847,-0.269659,0.531517,...,0.507430,-0.141939,-0.281676,0.958639,1.008624,-0.446853,0.308541,0.195681,0.993204,-0.308202
3,4,0.053332,-0.197334,-0.214828,-0.315953,-0.519923,-0.097550,-0.660185,-0.505708,-0.762281,...,0.045652,0.610175,0.076719,0.360056,0.589722,1.035933,-0.723197,0.921181,-0.587827,0.695970
4,5,-0.853505,-0.813275,-0.805649,-0.737003,-0.455011,-1.141757,-0.554038,-1.562306,-0.469147,...,-0.218664,-0.804405,0.483033,-0.178713,-0.247479,-1.401136,-1.051434,-1.098418,0.776282,-1.897951
5,6,0.886947,0.543922,0.001495,0.814553,0.290061,0.305880,0.631020,0.786740,0.239382,...,1.089891,0.774943,0.191695,0.616648,0.981933,0.537586,0.736066,0.266072,-0.274341,0.200609
6,7,-0.363248,-0.290822,0.270715,0.283891,0.076910,-0.381915,-0.138109,0.592302,-0.384578,...,-0.266660,0.584848,0.365603,0.380440,0.826063,0.222450,0.021001,0.732909,0.270760,-0.582707
7,8,-0.856450,-0.564268,-0.808320,0.131187,-0.744005,-0.916420,-0.577579,-0.360964,-0.479649,...,0.811153,0.053282,0.247360,0.482760,0.202145,-0.244384,0.832576,0.802685,0.333399,-0.124092
8,9,0.127725,-0.019693,-0.078045,-0.079969,0.201738,-0.056057,0.014178,0.258038,0.045849,...,-0.475378,-0.890021,-0.147408,0.106874,0.383492,1.136671,-0.495637,0.893306,0.372155,0.436378
9,10,1.025389,0.869224,0.624217,1.096878,0.640575,1.247100,0.811979,0.180602,0.415420,...,1.155390,0.845899,-0.980784,1.736859,0.405397,0.442317,0.907544,0.224000,0.104638,0.342435

In [124]:
movie_index = list(q.columns[1:]) #list of all movie index 
Vj_index = ['1'] # list of given movie index
movie_index_sub = [item for item in movie_index if item not in Vj_index] #list of movie indexs except the comparied one

In [129]:
l_latent_movie = []
for i in movie_index_sub:
   # print(i,type(i)) 2，str
    numerator =array([val
                  for sublist in np.asarray(q[[Vj_index[0]]]).tolist()
                  for val in sublist]).dot(array([val
                  for sublist in np.asarray(q[[i]]).tolist()
                  for val in sublist]))
    
    cosin_s = numerator/(norm([val
                  for sublist in np.asarray(q[[Vj_index[0]]]).tolist()
                  for val in sublist])*norm([val
                  for sublist in np.asarray(q[[i]]).tolist()
                  for val in sublist]))
    l_latent_movie.append(cosin_s)
    
index_min = np.argmin(l_latent_movie) #find the index of min value

if int(Vj_index[0]) > index_min: 
    index_similar = index_min
else:
    index_similar = index_min+1 #+1 would be the real index of that similar movie
    
print(index_similar)

5125

# examples

In [54]:
#q.as_matrix(columns=q.columns[1:2]).dot(q.as_matrix(columns=q.columns[2:3]))

In [123]:
l_latent_movie = []
movie_index = q.columns[1:]
# for i in range(len(q.columns[1:])):
#     print(array([val
#                   for sublist in np.asarray(q[[movie_index[i+1]]]).tolist()
#                   for val in sublist]).dot(array([val
#                   for sublist in np.asarray(q[[movie_index[i+2]]]).tolist()
#                   for val in sublist])))
#     #j = i+1
#     l_latent_movie.append(array([val
#                   for sublist in np.asarray(q[[movie_index[i+1]]]).tolist()
#                   for val in sublist]).dot(array([val
#                   for sublist in np.asarray(q[[movie_index[i+2]]]).tolist()
#                   for val in sublist])))

In [4]:
rmse.head()

   Unnamed: 0 train_test                       par  epoch      RMSE
0           1      Train  f =  10 , lambda =  0.01      1  0.825492
1           2      Train  f =  20 , lambda =  0.01      1  0.792257
2           3      Train   f =  10 , lambda =  0.1      1  0.896950
3           4      Train   f =  20 , lambda =  0.1      1  0.859586
4           5       Test  f =  10 , lambda =  0.01      1  1.313171

In [8]:
import numpy as np
from sklearn.neighbors import NearestNeighbors
samples = [[0, 0, 2], [1, 0, 0], [0, 0, 1]]

In [13]:
neigh = NearestNeighbors(2, 0.4,metric='cosine')
neigh.fit(samples)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                 radius=0.4)

In [14]:
#class sklearn.neighbors.NearestNeighbors(n_neighbors=5, radius=1.0, algorithm=’auto’, leaf_size=30,
#metric=’minkowski’, p=2, metric_params=None, n_jobs=None, **kwargs)

In [15]:
neigh.predict([0,0,5])

AttributeError: 'NearestNeighbors' object has no attribute 'predict'