# Package

In [2]:
import pandas as pd

In [1]:
import pyreadr

# Functions

# Data

In [13]:
result = pyreadr.read_r('../output/mat_fac.RData') 
p = pd.read_csv('../output/p.csv')
rmse = pd.read_csv('../data/rmse.csv')
q = pd.read_csv('../output/q.csv')

In [5]:
p.head()

,Unnamed: 0,1,2,3,4,5,6,7,8,9,...,601,602,603,604,605,606,607,608,609,610
0,1,0.339522,0.397727,-0.022705,-0.678430,0.002090,0.996911,-0.060211,0.746429,-0.396858,...,0.156272,0.536110,-0.209789,0.786587,0.298425,0.306767,0.453433,0.372350,0.347295,0.183304
1,2,-1.184494,-0.993599,1.498410,-1.499969,-0.392495,-0.921666,-0.536053,-0.045267,-1.208576,...,-0.500055,-0.533720,-0.223765,-0.968502,-1.113070,-0.558723,-0.530390,-0.263775,-0.600619,-0.678907
2,3,0.692158,-0.004293,-0.477786,0.443066,0.827174,0.268132,1.007660,0.188600,0.446776,...,-0.010699,0.271676,0.368936,0.020366,-0.197419,0.204063,0.432281,-0.634080,0.036872,-0.053246
3,4,-0.530991,0.399990,-0.928794,-0.740318,0.038613,-0.434931,-0.202092,-0.748963,0.299049,...,-0.146553,-0.093188,-0.553917,-0.383474,-0.386017,-0.476629,-0.847753,-0.348859,-0.631121,-0.404673
4,5,-0.950955,-0.821777,-0.897473,-0.660776,-0.939129,-1.050037,-0.184519,-1.099740,-0.747350,...,-1.337197,-0.804195,-1.321819,-1.231594,-0.314114,-1.323850,-1.049146,-1.113867,-1.075610,-1.475252

In [7]:
q.head()#movie

,Unnamed: 0,1,2,3,4,5,6,7,8,9,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
0,1,0.565178,0.717229,0.778567,0.625927,0.842650,-0.002214,0.623139,0.468605,0.365189,...,0.225377,0.058500,-0.336207,-0.634299,-0.611499,-0.944203,-0.860104,-0.845497,-0.395947,0.430513
1,2,-0.638644,-0.751574,-0.901851,-0.026124,-0.749025,-0.669877,-0.226928,-0.340599,-1.100166,...,-0.369489,-0.021417,0.220290,0.478876,-1.077273,0.382798,-0.213710,-0.816581,0.230590,-0.584523
2,3,0.389100,0.260425,0.352202,-0.366427,0.536000,-0.156391,0.806847,-0.269659,0.531517,...,0.507430,-0.141939,-0.281676,0.958639,1.008624,-0.446853,0.308541,0.195681,0.993204,-0.308202
3,4,0.053332,-0.197334,-0.214828,-0.315953,-0.519923,-0.097550,-0.660185,-0.505708,-0.762281,...,0.045652,0.610175,0.076719,0.360056,0.589722,1.035933,-0.723197,0.921181,-0.587827,0.695970
4,5,-0.853505,-0.813275,-0.805649,-0.737003,-0.455011,-1.141757,-0.554038,-1.562306,-0.469147,...,-0.218664,-0.804405,0.483033,-0.178713,-0.247479,-1.401136,-1.051434,-1.098418,0.776282,-1.897951

In [4]:
rmse.head()

   Unnamed: 0 train_test                       par  epoch      RMSE
0           1      Train  f =  10 , lambda =  0.01      1  0.825492
1           2      Train  f =  20 , lambda =  0.01      1  0.792257
2           3      Train   f =  10 , lambda =  0.1      1  0.896950
3           4      Train   f =  20 , lambda =  0.1      1  0.859586
4           5       Test  f =  10 , lambda =  0.01      1  1.313171