In [2]:
import pandas as pd

In [1]:
import pyreadr

In [5]:
result = pyreadr.read_r('../output/mat_fac.rdata') # also works for RData

In [7]:
result.head()

AttributeError: 'collections.OrderedDict' object has no attribute 'head'

In [3]:
rmse = pd.read_csv('../data/rmse.csv')

In [4]:
rmse.head()

   Unnamed: 0 train_test                       par  epoch      RMSE
0           1      Train  f =  10 , lambda =  0.01      1  0.825492
1           2      Train  f =  20 , lambda =  0.01      1  0.792257
2           3      Train   f =  10 , lambda =  0.1      1  0.896950
3           4      Train   f =  20 , lambda =  0.1      1  0.859586
4           5       Test  f =  10 , lambda =  0.01      1  1.313171

In [5]:
rmse.tail()

    Unnamed: 0 train_test                       par  epoch      RMSE
75          76      Train   f =  20 , lambda =  0.1     10  0.533895
76          77       Test  f =  10 , lambda =  0.01     10  1.299296
77          78       Test  f =  20 , lambda =  0.01     10  1.421808
78          79       Test   f =  10 , lambda =  0.1     10  1.165586
79          80       Test   f =  20 , lambda =  0.1     10  1.217462

In [6]:
rmse

    Unnamed: 0 train_test                       par  epoch      RMSE
0            1      Train  f =  10 , lambda =  0.01      1  0.825492
1            2      Train  f =  20 , lambda =  0.01      1  0.792257
2            3      Train   f =  10 , lambda =  0.1      1  0.896950
3            4      Train   f =  20 , lambda =  0.1      1  0.859586
4            5       Test  f =  10 , lambda =  0.01      1  1.313171
5            6       Test  f =  20 , lambda =  0.01      1  1.456230
6            7       Test   f =  10 , lambda =  0.1      1  1.289641
7            8       Test   f =  20 , lambda =  0.1      1  1.384565
8            9      Train  f =  10 , lambda =  0.01      2  0.709165
9           10      Train  f =  20 , lambda =  0.01      2  0.657109
10          11      Train   f =  10 , lambda =  0.1      2  0.770602
11          12      Train   f =  20 , lambda =  0.1      2  0.722461
12          13       Test  f =  10 , lambda =  0.01      2  1.269319
13          14       Test  f =  20 , lambda =  0.01      2  1.399219
14          15       Test   f =  10 , lambda =  0.1      2  1.218370
15          16       Test   f =  20 , lambda =  0.1      2  1.294743
16          17      Train  f =  10 , lambda =  0.01      3  0.664825
17          18      Train  f =  20 , lambda =  0.01      3  0.600871
18          19      Train   f =  10 , lambda =  0.1      3  0.719164
19          20      Train   f =  20 , lambda =  0.1      3  0.667661
20          21       Test  f =  10 , lambda =  0.01      3  1.268383
21          22       Test  f =  20 , lambda =  0.01      3  1.391677
22          23       Test   f =  10 , lambda =  0.1      3  1.196148
23          24       Test   f =  20 , lambda =  0.1      3  1.265380
24          25      Train  f =  10 , lambda =  0.01      4  0.635329
25          26      Train  f =  20 , lambda =  0.01      4  0.564281
26          27      Train   f =  10 , lambda =  0.1      4  0.687678
27          28      Train   f =  20 , lambda =  0.1      4  0.632422
28          29       Test  f =  10 , lambda =  0.01      4  1.272950
29          30       Test  f =  20 , lambda =  0.01      4  1.394311
..         ...        ...                       ...    ...       ...
50          51      Train   f =  10 , lambda =  0.1      7  0.635434
51          52      Train   f =  20 , lambda =  0.1      7  0.567982
52          53       Test  f =  10 , lambda =  0.01      7  1.286944
53          54       Test  f =  20 , lambda =  0.01      7  1.408446
54          55       Test   f =  10 , lambda =  0.1      7  1.171714
55          56       Test   f =  20 , lambda =  0.1      7  1.227360
56          57      Train  f =  10 , lambda =  0.01      8  0.569479
57          58      Train  f =  20 , lambda =  0.01      8  0.476966
58          59      Train   f =  10 , lambda =  0.1      8  0.625666
59          60      Train   f =  20 , lambda =  0.1      8  0.555483
60          61       Test  f =  10 , lambda =  0.01      8  1.291128
61          62       Test  f =  20 , lambda =  0.01      8  1.413354
62          63       Test   f =  10 , lambda =  0.1      8  1.169482
63          64       Test   f =  20 , lambda =  0.1      8  1.223647
64          65      Train  f =  10 , lambda =  0.01      9  0.558738
65          66      Train  f =  20 , lambda =  0.01      9  0.462860
66          67      Train   f =  10 , lambda =  0.1      9  0.616287
67          68      Train   f =  20 , lambda =  0.1      9  0.543749
68          69       Test  f =  10 , lambda =  0.01      9  1.295286
69          70       Test  f =  20 , lambda =  0.01      9  1.417348
70          71       Test   f =  10 , lambda =  0.1      9  1.167128
71          72       Test   f =  20 , lambda =  0.1      9  1.220103
72          73      Train  f =  10 , lambda =  0.01     10  0.549713
73          74      Train  f =  20 , lambda =  0.01     10  0.450553
74          75      Train   f =  10 , lambda =  0.1     10  0.607875
75          76      Train   f =  20 , lambda =  0.1     10  0.533895
76          77       Test  f =  10 , lambda =  0.01     10  1.299296
77          78       Test  f =  20 , lambda =  0.01     10  1.421808
78          79       Test   f =  10 , lambda =  0.1     10  1.165586
79          80       Test   f =  20 , lambda =  0.1     10  1.217462

[80 rows x 5 columns]